body {
	background: #ddd;
}

div.content_box:hover {
  background: #f5f5f5;
}

div.content_box {
	padding: 10px;
	margin: 0 10px 10px 0;
	float: left;
	width: 280px;
	height: 320px;
	background: #eee;
	border-bottom: 1px #aaa solid;
	border-right: 1px #aaa solid;
  border-radius: 4px;
}

div.content_box h2 { 
  margin-top: 0;
  padding-bottom: 3px;
  border-bottom: 1px #ddd solid;
  text-align: center;
}

a.job_status {
  float: left;
  height: 30px;
  width: 30px;
  background: #ccc;
  border-right: 1px #fff solid;
  border-top: 1px #fff solid;
  display: block;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
}

a.job_status:hover {
  opacity: .6;
}

.job_status_caption {
  padding-bottom: 5px;
}

div.view_info_container {
  padding: 0px 0 5px;
  border-bottom: 1px #ddd solid;
  margin-bottom: 20px;
}

a.refresh_button {
  float: right;
  margin-left: 10px;
}

#refreshing_in_caption {
  float: right;
  display: none;
}

#enable_auto_refresh, #disable_auto_refresh {
  display: none;
}  

#throbber {
  float: right;
  margin-right: 10px;
  display: none;
}

.updated_at_line {
  text-align: right;
}

.job_info {
  padding-left: 10px;
}

div.job_info_box {
  text-align: center;
  float: left;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.job_stat_name {
  font-size: 0.9em;
  color: #555;
}

.job_stat_value {
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: 4px;
}

div.job_boxes_container {
  padding-top: 15px;
}

div.header form {
  float: left;
  margin-bottom: 5px;
}

.clear {
  clear: both;
}

.text-error {
  color: red;
}

.job_stat_value {
  font-family: 'Average Sans', serif;
  font-size: 1.6em;
  color: #444;
}

a.job_status.status-success {
	background: lightgreen;
}

a.job_status.status-unstable {
	background: lightyellow;
}

a.job_status.status-failed {
	background: red;
}

a.job_status.status-disabled {
	background: lightgray;
}