body {
  background: #00243C;
  color: #ddd;
  display:  block;
  height: 100%;
}

h2 {
  font-weight: 100;
}

div.headerToggle {
  text-align: right;
}

div.content_box:hover {
  background: #004370;
}

div.content_box {
  padding: 2px;
  margin: 10px 10px 10px 0;
  float: left;
  width: 320px;
  height: 320px;
  background: -webkit-gradient( linear, left top, left bottom, from(#004370), to(#00243c));
  background: -moz-linear-gradient( top, #004370, #00243c);
  border-bottom: 1px #333 solid;
  border-right: 1px #333 solid;
  border-radius: 5px;
  color: #eee;
}

div.content_box.job {
  height: 160px;
}

div.content_box.chart {
  width: 655px;
  height: 440px;
}

div.content_box h2 { 
  margin-top: 5px;
  padding-bottom: 3px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
}

div.content_box.job h2 {
  font-size: 24px;
  width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.content_box.job h2.tiny {
  font-size: 16px;
}

div.content_box h2 a {
  text-decoration: none;
  color: #f5f5f5;
}

div.content_box h2 a:hover {
  color: #ccc;
}

a.job_status {
  float: left;
  height: 30px;
  width: 30px;
  background: -webkit-gradient( linear, left top, left bottom, from(#0068AD), to(#0077C7));
  background: -moz-linear-gradient( top, #0068AD, #0077C7);
  border-right: 1px #005994 solid;
  border-top: 1px #005994 solid;
  display: block;
  text-align: center;
}

a.job_status:hover {
  background-color: #004370;
}

.job_status_caption {
  padding-bottom: 5px;
}

div.view_info_container {
  padding: 0px 0 5px;
  border-bottom: 1px #ddd solid;
  margin-bottom: 20px;
}

a.refresh_button {
  float: right;
  margin-left: 10px;
}

#refreshing_in_caption {
  float: right;
  display: none;
}

#enable_auto_cycle, #disable_auto_cycle {
  display: none;
}

#throbber {
  float: right;
  margin-right: 10px;
  display: none;
}

.updated_at_line {
  text-align: right;
}

.job_info {
  padding-left: 10px;
}

div.job_info_box {
  text-align: center;
  float: left;
  border: 1px solid #005994;
  border-radius: 5px;
  width: 23%;
  height: 60px;
  margin: 2px;
}

.job_stat_name {
  font-size: 9px;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0px;
  text-transform: lowercase;
}

.job_stat_value {
  font-weight: 100;
  font-size: 16px;
  font-family: arial;
  margin-top: 5px;
  margin-bottom: 3px;
}

.good {
  color: #55ff42;
}

.warning {
  color: #ff1a1a;
}

.bad {
  background: #ff1a1a;
  color: #ffffff;
}

div.job_boxes_container {
  padding-top: 15px;
  padding-left: 3px;
}

div.header form {
  float: left;
  margin-bottom: 5px;
}

.clear {
  clear: both;
}

.text-error {
  color: red;
}

a.job_status.status-success {
  background: #55ff42;
}

a.job_status.status-unstable {
  background: lightyellow;
}

a.job_status.status-failed {
  background: #ff1a1a;
}

a.job_status.status-disabled {
  background: lightgray;
}

img.close_icon {
  float: right;
  cursor: pointer;
}
#jenkins_root_url {
  cursor: pointer;
}
